{% extends "layout.html" %}

{% block content %}
<div class="container mx-auto p-4 text-center">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
        <div class="mb-4">
            <h1 class="text-gray-700 text-2xl font-bold">Welcome to pediaDose</h1>
            <p class="text-gray-600 mt-2">Your personalized medicine information hub.</p>
        </div>
        <a href="medicine/medicines" class="px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 transition duration-300">
            Add Medicines
        </a>
        
        <!-- Additional content here -->
    </div>
</div>
{% endblock %}
